<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MobiFin 5.0 - Admin Portal (2)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:21:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>20/03/20 04:21:29</td>   <td>22757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TechnicalConfigurationReportTool.beforeMethod()[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>20/03/20 04:21:29</td>   <td>22865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalConfigurationReportTool.addReportTool(java.util.Map)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">addReportTool</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:24:15</td>   <td>188510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>20/03/20 04:24:15</td>   <td>188510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TechnicalConfigurationReportTool.beforeMethod()[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>20/03/20 04:24:15</td>   <td>188584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalConfigurationReportTool.addReportTool(java.util.Map)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">addReportTool</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:25:57</td>   <td>290759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>20/03/20 04:25:57</td>   <td>290759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TechnicalConfigurationReportTool.beforeMethod()[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>20/03/20 04:25:57</td>   <td>290843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalConfigurationReportTool.addReportTool(java.util.Map)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">addReportTool</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:32:43</td>   <td>697216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>20/03/20 04:32:43</td>   <td>697306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TechnicalConfigurationReportTool.beforeMethod()[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>20/03/20 04:32:43</td>   <td>697375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalConfigurationReportTool.editReportTool(java.util.Map)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">editReportTool</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:34:37</td>   <td>810694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>20/03/20 04:34:37</td>   <td>810751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TechnicalConfigurationReportTool.beforeMethod()[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>20/03/20 04:34:37</td>   <td>810836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalConfigurationReportTool.deleteReportTool(java.util.Map)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">deleteReportTool</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:36:20</td>   <td>913768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:36:20</td>   <td>913768</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.TechnicalConfigurationReportTool@63440df3]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:36:21</td>   <td>914586</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.TechnicalConfigurationProcess@3aeaafa6]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>20/03/20 04:36:43</td>   <td>937218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TechnicalConfigurationProcess.beforeMethod()[pri:0, instance:testCases.TechnicalConfigurationProcess@3aeaafa6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>20/03/20 04:36:43</td>   <td>937316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalConfigurationProcess.process()[pri:0, instance:testCases.TechnicalConfigurationProcess@3aeaafa6]">process</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:38:54</td>   <td>1068131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.TechnicalConfigurationProcess@3aeaafa6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:38:54</td>   <td>1068131</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.TechnicalConfigurationProcess@3aeaafa6]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:38:55</td>   <td>1068945</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.TechnicalConfigurationScheduler@76a3e297]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:39:16</td>   <td>1090119</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.TechnicalConfigurationScheduler@76a3e297]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:39:17</td>   <td>1090843</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>20/03/20 04:39:42</td>   <td>1116260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TechnicalConfigurationProcessScheduler.beforeMethod()[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>20/03/20 04:39:42</td>   <td>1116343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalConfigurationProcessScheduler.addProcessScheduler(java.util.Map)[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">addProcessScheduler</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:43:00</td>   <td>1314144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>20/03/20 04:43:00</td>   <td>1314144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TechnicalConfigurationProcessScheduler.beforeMethod()[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>20/03/20 04:43:00</td>   <td>1314214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalConfigurationProcessScheduler.addProcessScheduler(java.util.Map)[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">addProcessScheduler</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:45:12</td>   <td>1445965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>20/03/20 04:45:12</td>   <td>1446025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TechnicalConfigurationProcessScheduler.beforeMethod()[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>20/03/20 04:45:12</td>   <td>1446094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalConfigurationProcessScheduler.editProcessScheduler(java.util.Map)[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">editProcessScheduler</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:57:38</td>   <td>2191847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>20/03/20 04:57:38</td>   <td>2192213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TechnicalConfigurationProcessScheduler.beforeMethod()[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>20/03/20 04:57:38</td>   <td>2192279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechnicalConfigurationProcessScheduler.deleteProcessScheduler(java.util.Map)[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">deleteProcessScheduler</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:59:13</td>   <td>2287382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:59:13</td>   <td>2287382</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.TechnicalConfigurationProcessScheduler@4d3167f4]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:59:14</td>   <td>2288200</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.TechnicalConfigurationProcessRunDetails@ed9d034]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:59:38</td>   <td>2312070</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.TechnicalConfigurationProcessRunDetails@ed9d034]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
</table>
