<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MobiFin 5.0 - Admin Portal (1)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:45:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:46:16</td>   <td>24184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:46:16</td>   <td>24349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.addRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">addRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:49:01</td>   <td>189512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:49:01</td>   <td>189512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:49:02</td>   <td>189621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.addRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">addRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:50:43</td>   <td>291456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:50:43</td>   <td>291456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:50:44</td>   <td>291566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.addRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">addRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:52:46</td>   <td>413866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:52:46</td>   <td>413866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:52:46</td>   <td>413981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.addRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">addRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:54:27</td>   <td>515544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:54:28</td>   <td>515651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:54:28</td>   <td>515751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.editRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">editRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:56:22</td>   <td>629668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:56:22</td>   <td>629724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:56:22</td>   <td>629840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.deleteRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">deleteRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:58:05</td>   <td>732979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:58:05</td>   <td>732979</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:58:06</td>   <td>733848</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 03:58:27</td>   <td>755486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 03:58:28</td>   <td>755641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.addSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">addSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:02:13</td>   <td>981085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:02:13</td>   <td>981085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:02:13</td>   <td>981197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.addSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">addSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:04:56</td>   <td>1144386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:04:56</td>   <td>1144386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:04:56</td>   <td>1144493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.addSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">addSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:08:03</td>   <td>1331047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:08:03</td>   <td>1331047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:08:03</td>   <td>1331159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.addSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">addSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:10:41</td>   <td>1488794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:10:41</td>   <td>1488863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:10:41</td>   <td>1488979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.editSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">editSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:14:24</td>   <td>1711917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:14:24</td>   <td>1712282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:14:24</td>   <td>1712387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.deleteSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">deleteSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:16:08</td>   <td>1816235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:16:08</td>   <td>1816236</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:16:09</td>   <td>1817059</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.OperatorConfigSystemOperatorOnboarding@46daef40]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="6ba0af">  <td>20/03/20 04:16:32</td>   <td>1840158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorOnboarding.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorOnboarding@46daef40]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="6ba0af">  <td>20/03/20 04:16:32</td>   <td>1840337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorOnboarding.addSystemOperatorOnboarding(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorOnboarding@46daef40]">addSystemOperatorOnboarding</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:21:05</td>   <td>2112959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorOnboarding@46daef40]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:21:05</td>   <td>2113226</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.OperatorConfigSystemOperatorOnboarding@46daef40]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
</table>
