<h2>Methods that were not run</h2><table>
<tr><td>testCases.OperatorConfigRole.sortRole<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: sortRole, Author: Dishant Doshi</i></td></tr>
<tr><td>testCases.OperatorConfigSystemOperatorEntity.sortSystemOperatorEntity<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortSystemOperatorEntity, Author: shivani.patel</i></td></tr>
</table>