<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MobiFin 5.0 - Admin Portal (1)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:46:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.addRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">addRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:49:02</td>   <td>165272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.addRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">addRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:50:44</td>   <td>267217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.addRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">addRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:52:46</td>   <td>389632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.addRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">addRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 03:58:28</td>   <td>731292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.addSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">addSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:02:13</td>   <td>956848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.addSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">addSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:04:56</td>   <td>1120144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.addSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">addSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:08:03</td>   <td>1306810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.addSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">addSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="6ba0af">  <td>20/03/20 04:16:32</td>   <td>1815988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorOnboarding.addSystemOperatorOnboarding(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorOnboarding@46daef40]">addSystemOperatorOnboarding</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:46:16</td>   <td>-165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:49:01</td>   <td>165163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:50:43</td>   <td>267107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:52:46</td>   <td>389517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:54:28</td>   <td>491302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:56:22</td>   <td>605375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigRole.beforeMethod()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 03:58:27</td>   <td>731137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:02:13</td>   <td>956736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:04:56</td>   <td>1120037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:08:03</td>   <td>1306698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:10:41</td>   <td>1464514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:14:24</td>   <td>1687933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorEntity.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="6ba0af">  <td>20/03/20 04:16:32</td>   <td>1815809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OperatorConfigSystemOperatorOnboarding.beforeMethod()[pri:0, instance:testCases.OperatorConfigSystemOperatorOnboarding@46daef40]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:58:05</td>   <td>708630</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:16:08</td>   <td>1791887</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:21:05</td>   <td>2088877</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.closeBrowser()[pri:0, instance:testCases.OperatorConfigSystemOperatorOnboarding@46daef40]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:56:22</td>   <td>605491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.deleteRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">deleteRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:14:24</td>   <td>1688038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.deleteSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">deleteSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/03/20 03:54:28</td>   <td>491402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigRole.editRole(java.util.Map)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">editRole</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>20/03/20 04:10:41</td>   <td>1464630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorConfigSystemOperatorEntity.editSystemOperatorEntity(java.util.Map)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">editSystemOperatorEntity</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:45:52</td>   <td>-24349</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:58:06</td>   <td>709499</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:16:09</td>   <td>1792710</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupInit.initializeSetupInit(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:testCases.OperatorConfigSystemOperatorOnboarding@46daef40]">&gt;&gt;initializeSetupInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:49:01</td>   <td>165163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:50:43</td>   <td>267107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:52:46</td>   <td>389517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:54:27</td>   <td>491195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:56:22</td>   <td>605319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 03:58:05</td>   <td>708630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigRole@44c8afef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:02:13</td>   <td>956736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:04:56</td>   <td>1120037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:08:03</td>   <td>1306698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:10:41</td>   <td>1464445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:14:24</td>   <td>1687568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:16:08</td>   <td>1791886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorEntity@7b69c6ba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/20 04:21:05</td>   <td>2088610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupInit.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.OperatorConfigSystemOperatorOnboarding@46daef40]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
</table>
