<h2>Methods that were not run</h2><table>
<tr><td>testCases.PlatformConfigurationWallet.sortWallet<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortWallet, Author: shivani.patel</i></td></tr>
<tr><td>testCases.PlatformConfigurationUnit.sortUnit<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortUnit, Author: shivani.patel</i></td></tr>
<tr><td>testCases.PlatformConfigurationCounter.sortCounter<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortCounter, Author: shivani.patel</i></td></tr>
<tr><td>testCases.PlatformConfigurationRule.sortRule<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortRule, Author: shivani.patel</i></td></tr>
<tr><td>testCases.PlatformConfigurationParameter.sortParameter<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortParameter, Author: shivani.patel</i></td></tr>
<tr><td>testCases.PlatformConfigurationUserCategory.sortUserCategory<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortUserCategory, Author: shivani.patel</i></td></tr>
<tr><td>testCases.PlatformConfigurationProductGroup.sortProductGroup<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>sort Product Group</i></td></tr>
<tr><td>testCases.PlatformConfigurationNotificationTemplate.sortNotificationTemplate<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>sort NotificationTemplate</i></td></tr>
<tr><td>testCases.PlatformConfigurationWalletTemplate.sortWalletTemplate<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortWalletTemplate, Author: shivani.patel</i></td></tr>
<tr><td>testCases.PlatformConfigurationProduct.sortProduct<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>sort Product</i></td></tr>
<tr><td>testCases.PlatformConfigurationKYC.sortKYC<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortKYC, Author: shivani.patel</i></td></tr>
<tr><td>testCases.PlatformConfigurationPouch.sortPouch<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortPouch, Author: shivani.patel</i></td></tr>
<tr><td>testCases.PlatformConfigurationUcp.sortUcp<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Sort Ucp</i></td></tr>
<tr><td>testCases.PlatformConfigurationService.sortService<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Id: SortService, Author: shivani.patel</i></td></tr>
</table>